// src/app/login/login.component.scss
@import '../../styles/variables'; // Mantenha suas variáveis

// A maioria dos estilos será tratada pelas classes Bootstrap no HTML.
// Aqui você pode adicionar overrides específicos se o Bootstrap não atender.

// Apenas para centralizar o container principal, se o Bootstrap não for suficiente
.vh-100 {
    min-height: 100vh;
}
.card {
    // Você pode ajustar sombras ou bordas se quiser algo diferente do Bootstrap padrão
    // box-shadow: $box-shadow-md;
}

// Ajustes para o input de senha
.input-group .btn-outline-secondary {
    // Bootstrap já estiliza bem, mas se precisar de cor de fonte específica
    color: $primary-color;
    &:hover {
        color: white; // Cor do texto no hover
    }
}