// src/app/register/register.component.scss
@import '../../styles/variables'; // Mantenha suas variáveis

// Estilos são majoritariamente Bootstrap, apenas ajustes se necessário
.vh-100 {
    min-height: 100vh;
}
.card {
    // box-shadow: $box-shadow-md;
}

.input-group .btn-outline-secondary {
    color: $primary-color;
    &:hover {
        color: white;
    }
}